html,
body {
	width: 100%;
}

#root {
	width: 100%;
}

section {
	display: flex;
	flex-flow: column;
}

header {
	background-color: blueviolet;
	padding: 1vw;
}

button {
	margin: 2vw auto;
}

.jokes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	margin: 2vw auto;
	width: 80%;
}

.joke-component {
	display: flex;
	font-size: 1.5vw;
	width: 40%;
	overflow-wrap: break-word;
	padding: 2vw;
	margin: 2vw 0;
	text-align: center;
	border: gray solid 0.1vw;
	border-radius: 0.8vw;
	vertical-align: middle;
}

.joke-component p {
	padding: 1vw;
	margin: auto;
}
